body{
    background-image:url("img/cork.png");
}

header{
    background-image: url("img/wall.png");
    font-family:"Edu TAS Beginner";
}

.container{
    max-width: 1200px;
}

.date{
    font-family: "Sometype Mono", monospace;
    font-weight: bolder;
}

.title{
    font-family: "Edu TAS Beginner", sans-serif;
    font-size:x-large;
    font-weight: bolder;
    text-transform: uppercase;
}
