body{
    background-image:url("img/cork.png");
    overflow: hidden;
}

.overlay{
    position: fixed;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    background-color: black;
    z-index: 2;
}

.overlay-element{
    position: absolute;
    top: 10%;
    left: 25%;
    width: 50%;
    z-index: 2;
}

button{
    width: 20%;
    align-self: center;
}

header{
    background-image: url("img/wall.png");
    font-family:"Edu TAS Beginner";
}

.card:hover{
    cursor: pointer;
    transform: rotate(10deg);
}

.date{
    font-family: "Sometype Mono", monospace;
    font-weight: bolder;
}

.title{
    font-family: "Edu TAS Beginner", sans-serif;
    font-size:x-large;
    font-weight: bolder;
    text-transform: uppercase;
}
